/*Sidebar Menü */

.sidenav {
    height:100%;/*Tam yükseklik: 'otomatik' yükseklik istiyorsanız bunu kaldırın*/
    width: 160px; /* Kenar çubuğunun genişliğini ayarlama */
    position: fixed; /* Sabit Kenar Çubuğu (kaydırmada, yerinde kal) */
    z-index: 1; /* Üst Katmanda kalmak */
    top: 0; /* En üstten menü oluştur */
    left: 0;/* Soldan menü oluştur */
    background-color: #FFC72C; /* Menü siyah renk olsun */
    overflow-x: hidden; /* Yatay kaydırmayı devre dışı bırak */
    padding-top: 20px;
   }
   
   /* Gezinme menu linkleri */
   
   .sidenav a {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 30px;
     font-family: 'Chivo Mono', monospace;;
     color: #27251F;
     display: block;
   }
   
   /* Gezinme bağlantılarının üzerine geldiğinizde renklerini değiştirin */
   
   .sidenav a:hover {
     color: #f1f1f1;
   }
   
   /* Stil sayfasi iceriği */
   
   .main {
     margin-left: 160px; 
     padding: 0px 10px;
   }
   
   /* Yüksekliğin 450 pikselden az olduğu daha küçük ekranlarda 
   kenar çubuğunun stilini değiştirin 
   (daha az dolgu ve daha küçük yazı tipi boyutu) */
   
   @media screen and (max-height: 450px) {
     .sidenav {padding-top: 15px;}
     .sidenav a {font-size: 18px;}
   }

   